<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Backend::config">
                            <resource id="Queueit_KnownUser::system_config" title="Queueit KnownUser" sortOrder="1000" /> <!-- This needs to be the same as the <resource> node in system.xml-->
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config